ASPNet_MBWay_demo/ASPNet_MBWay_demo/Connected Services/MBWayConnectedService/MBWayWebServiceV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MBWayWebServiceV2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMBWayWebServiceV2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://mbway.hipay.pt/MBWayWebservice/MBWayV2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://mbway.hipay.pt/MBWayWebservice/MBWayV2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://mbway.hipay.pt/MBWayWebservice/MBWayV2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CompraFacil.MBWay.Webservices.Core.Entities" />
      <xsd:import schemaLocation="https://mbway.hipay.pt/MBWayWebservice/MBWayV2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CompraFacil.MBWay.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMBWayWebServiceV2_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_GetPaymentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDetails" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_GetPaymentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_RequestRefund_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestRefund" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_RequestRefund_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestRefundResponse" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_GetRequestRefundDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestRefundDetails" />
  </wsdl:message>
  <wsdl:message name="IMBWayWebServiceV2_GetRequestRefundDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestRefundDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMBWayWebServiceV2">
    <wsdl:operation name="CreatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/CreatePayment" message="tns:IMBWayWebServiceV2_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/CreatePaymentResponse" message="tns:IMBWayWebServiceV2_CreatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/GetPaymentDetails" message="tns:IMBWayWebServiceV2_GetPaymentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/GetPaymentDetailsResponse" message="tns:IMBWayWebServiceV2_GetPaymentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestRefund">
      <wsdl:input wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/RequestRefund" message="tns:IMBWayWebServiceV2_RequestRefund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/RequestRefundResponse" message="tns:IMBWayWebServiceV2_RequestRefund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestRefundDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/GetRequestRefundDetails" message="tns:IMBWayWebServiceV2_GetRequestRefundDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMBWayWebServiceV2/GetRequestRefundDetailsResponse" message="tns:IMBWayWebServiceV2_GetRequestRefundDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMBWayWebServiceV2" type="tns:IMBWayWebServiceV2">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMBWayWebServiceV2_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePayment">
      <soap:operation soapAction="http://tempuri.org/IMBWayWebServiceV2/CreatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentDetails">
      <soap:operation soapAction="http://tempuri.org/IMBWayWebServiceV2/GetPaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestRefund">
      <soap:operation soapAction="http://tempuri.org/IMBWayWebServiceV2/RequestRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestRefundDetails">
      <soap:operation soapAction="http://tempuri.org/IMBWayWebServiceV2/GetRequestRefundDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MBWayWebServiceV2">
    <wsdl:port name="BasicHttpBinding_IMBWayWebServiceV2" binding="tns:BasicHttpBinding_IMBWayWebServiceV2">
      <soap:address location="https://mbway.hipay.pt/MBWayWebservice/MBWayV2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>